@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**
     * [box-sizing: borderbox]
     * --------------------------------------------------------
     * Permet d'ajouter des padding sans forcément devoir les 
     * soustraires par la suite.
     * --------------------------------------------------------
     **/
}
body {
    font-family: 'Nunito', sans-serif;
}
.navigation {
    line-height: 50px;
    background-color: #2c3e50;
}
a {
    color: #fff;
    text-decoration: none;
}
.logo, nav {
    display: inline-block;
    vertical-align: top;
}
.logo {
    font-size: 32px;
    width: 30%;
    padding-left: 15px;
    position: relative;
}
nav {
    width: 70%;
    text-align: right;
    padding-right: 15px;
}
nav a { 
    padding: 0 10px;
    display: inline-block;
    height: 50px;
    border: none;
}
nav a:hover {
    background-color: #34495e;
        transition: background-color .1s linear;
    border-bottom: 5px solid #CCC;
        transition: border-bottom .2s linear; 
}
#icon-menu {
    width: 35px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
}
button {
    background: transparent;
    border: none;
}
button:focus {
    outline: none;
}
#icon-menu span {
    position: absolute;
    width: 100%; /* Étant en absolute ça revient à dire que la hauteur est à 35px */
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    left: 0;
}
#icon-menu span:nth-child(1) {
    top: 0;
}
#icon-menu span:nth-child(2) {
    top: 12px;
}
#icon-menu span:nth-child(3) {
    top: 25px;
}
@media screen and (min-width: 769px) {
    #icon-menu {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    #icon-menu span {
        background-color: #2c3e50;
        transition: background-color .1s ease;
    }
}

/**
 * [@media screen] --> Largeur max 768px (Tablette)
 * --------------------------------------------------------
 * Max-width: 768px, permet de définir qu'en dessous ou égale
 * à cette largeur d'écran, nous spécifions un certain nombre
 * de propriétés/valeurs qui permettront aux navigateur
 * d'adapter l'affichage selon les critères spécifié dans le code 
 * --------------------------------------------------------
 **/
@media screen and (max-width: 768px){
    nav {
        height: 0px;
        overflow: hidden;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .navigation { 
        background-color: #7f8c8d;
    }
    .logo, nav {
        display: block;
        width: 100%;
    }
    nav {
        text-align: center;
        padding-right: 0px;
        vertical-align: top;
    }
    nav a {
        display: inline-block;
        width: 50%;
    }
    nav a:hover {
        background-color: #2c3e50;
        border-bottom: none;
        border-left: 2px solid #fff;
            transition: border-bottom .2s linear .2s;
        border-right: 2px solid #fff;
            transition: border-bottom .2s linear .2s;
    }
    .navigation, nav a:hover {
        /**
         * [Informartion perso]
         * --------------------------------------------------------
         * La transition qui suit, me sert uniquement à animé le  
         * changement de couleur lorsque nous redimmentionnons à 
         * la main la taille de votre page web ainsi que lorsqu'on
         * survole un lien.
         **/
        transition: background-color 2s ease;
    }
    .open-menu {
        height: 150px;
    }
}
/**
 * [@media screen] --> Largeur max 425px (Téléphone)
 * --------------------------------------------------------
 * Max-width: 768px, permet de définir qu'en dessous ou égale
 * à cette largeur d'écran, nous spécifions un certain nombre
 * de propriétés/valeurs qui permettront aux navigateur
 * d'adapter l'affichage selon les critères spécifié dans le code 
 * --------------------------------------------------------
 **/
 @media screen and (max-width: 425px) {
    .navigation {
        background-color: #DDD;
        border-bottom: 1px solid #2c3e50;
    }
    .logo, nav, nav a {
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .logo a, nav a {
        color: #555;
    }
    nav a {
        text-align: center;
    }
    nav a:hover {
        background-color: #2c3e50;
            transition: background-color 1s ease 2s;
        color: #fff;
            transition: color 4s ease 2s;
        border-bottom: none;
        border-top: 2px solid #fff;
            transition: color 2s linear .1s
    }
    .navigation, nav a:hover {
        /**
         * [Informartion perso]
         * --------------------------------------------------------
         * La transition qui suit, me sert uniquement à animé le  
         * changement de couleur lorsque nous redimmentionnons à 
         * la main la taille de votre page web ainsi que lorsqu'on
         * survole un lien.
         **/
        transition: background-color 2s ease;
    }
    .open-menu {
        height: 300px;
    }

 }

